.title {
    width: 100%;
    position: absolute;
    padding: 10px;
    bottom: 0%;
    font-size: 16px;
    font-weight: bold;
    z-index: 9;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    text-align: center;
    p {
        margin: 0;
    }

}