.grid-wrapper {
    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 40px;

        > div {
            background-color: #000;
            color: #fff;
        }
    }
}