header {
    position: fixed;
    top: 0;
    left: 0;
    height: 80px;
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #000;
    color: #fff;

    h2 {
        text-transform: capitalize;
    }
}