header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  height: 80px;
  display: flex;
  align-items: center;
  width: 100%;
  background-color: #000;
  color: #fff;
  -webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  -moz-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
}
header h2 {
  text-transform: capitalize;
}